1 VERSIONINFO
FILEVERSION 1,3,0,23
PRODUCTVERSION 1,3,0,1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "AFUDF Library\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "AFUDF Library\000"
   VALUE "FileVersion", "1.3.0.23\000"
   VALUE "InternalName", "afmmngr\000"
   VALUE "LegalCopyright", "OAO Pharmacy\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "AFUDF Library\000"
   VALUE "ProductVersion", "1.3.0.1\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}

MAINICON ICON "afmmngr.ico"
